<div style="text-align: justify">
    <h1>
        Cotação do Dinheirus hoje: 
    </h1>
    <H2>
        D$ 1,0 equivale à {{{formataValor alltotal 'BRL' 'pt-BR'}}}
    </H2>
    <h3>
        Foram emitidos {{formataValor cunhado 'DRL' 'pt-BR'}} e temos na Reserva Nacional um total de {{{formataValor reserva 'BRL' 'pt-BR'}}}
    </h3>
    
</div>