<form action="{{{url}}}/entrar.html" method="post">
  <div class="container">
    <h1>Entrar</h1>
    <p>Entrar na contas do Dinheirus</p>
    <hr>
    {{#if error}}
        <div class="w3-panel w3-orange w3-leftbar w3-rightbar w3-border-purple">
        <h3>Ops!</h3>
        <p><b>Chave TeC</b> e/ou <b>senha</b> não estão corretas. xD</p>
        </div> 
    {{/if}}
    <label class="w3-text-black" for="user"><b>Chave TeC</b></label><br>
    <input class="w3-input w3-border" maxlength="8"  minlength="2" type="text" value="{{{user}}}" name="user" required ><br>

    <label class="w3-text-black" for="password"><b>Senha</b></label><br>
    <input class="w3-input w3-border" type="password" name="password" required ><br>

    <hr>

    <button type="submit" class="w3-button w3-block w3-black w3-large w3-hover-dark-gray">Entrar</button>
  </div>
  
</form>