<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{{subtitle}}} | {{{title}}}</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

    body {
      font-family: 'Roboto', Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f4f4f4;
    }

    .profile-card {
      background-color: #5b21b6;
      border-radius: 12px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      padding: 25px;
      text-align: center;
      max-width: 350px;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .profile-image {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 20px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      border: 3px solid #000000;
    }

    h1 {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 20px;
      color: #f4f4f4;
    }

    p {
      margin-bottom: 10px;
      font-size: 14px;
      color: #f4f4f4;
    }

    input {
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 7px 10px;
      font-size: 14px;
      width: 100%;
      box-sizing: border-box;
      margin-top: 5px;
      transition: border-color 0.3s ease;
    }

    #image-input {
      display: none;
    }

    #image-label {
      background-color: #000000;
      color: white;
      border: none;
      padding: 7px 14px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      border-radius: 6px;
      cursor: pointer;
      margin-top: 10px;
      transition: background-color 0.3s ease;
    }

    #update-button {
      background-color: #000000;
      color: white;
      border: none;
      padding: 9px 18px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      border-radius: 6px;
      cursor: pointer;
      margin-top: 14px;
      transition: background-color 0.3s ease;
    }

    #update-button:hover {
      background-color: #000000;
    }

    #image-label:hover {
      background-color: #000000;
    }
  </style>
</head>
<body>
    {{>head}}{{{title}}}
    {{{body}}}  
    {{>footer}}
</body>
</html>